# Laravel
laundrop-api/vendor
laundrop-api/node_modules
laundrop-api/public/storage
laundrop-api/storage/*.key
laundrop-api/.env
# React
laundrop-web/node_modules
laundrop-web/dist
laundrop-web/.env

# System
.DS_Store
Thumbs.db
.vscode
.idea